In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('./data/concrete.csv')

In [3]:
df.head()

,Unnamed: 0,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Concrete compressive strength
0,0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,2,332.5,142.5,0.0,228.0,NaN,932.0,594.0,270,40.27
3,3,332.5,142.5,0.0,228.0,NaN,932.0,594.0,365,41.05
4,4,198.6,132.4,0.0,192.0,NaN,978.4,825.5,360,44.30

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1030 entries, 0 to 1029
Data columns (total 10 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Unnamed: 0                     1030 non-null   int64
 1   Cement                         1030 non-null   float64
 2   Blast Furnace Slag             1030 non-null   float64
 3   Fly Ash                        1030 non-null   float64
 4   Water                          1030 non-null   float64
 5   Superplasticizer               651 non-null    float64
 6   Coarse Aggregate               1030 non-null   float64
 7   Fine Aggregate                 1030 non-null   float64
 8   Age                            1030 non-null   object
 9   Concrete compressive strength  1030 non-null   float64
dtypes: float64(8), int64(1), object(1)
memory usage: 80.6+ KB

In [5]:
df.describe()

,Unnamed: 0,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Concrete compressive strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,651.000000,1030.000000,1030.000000,1030.000000
mean,514.500000,281.167864,73.895825,54.188350,181.567282,9.816897,972.918932,773.580485,35.817961
std,297.479691,104.506364,86.279342,63.997004,21.354219,4.580328,77.753954,80.175980,16.705742
min,0.000000,102.000000,0.000000,0.000000,121.800000,1.700000,801.000000,594.000000,2.330000
25%,257.250000,192.375000,0.000000,0.000000,164.900000,6.950000,932.000000,730.950000,23.710000
50%,514.500000,272.900000,22.000000,0.000000,185.000000,9.400000,968.000000,779.500000,34.445000
75%,771.750000,350.000000,142.950000,118.300000,192.000000,11.600000,1029.400000,824.000000,46.135000
max,1029.000000,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,82.600000

In [6]:
df.describe(include='O')

         Age
count   1030
unique    15
top       28
freq     424

In [7]:
df.shape

(1030, 10)